* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

header {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;

}

.logo{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-container{
  width: 450px;
  background-color: white;
  height: 100%;
  display: flex;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
}
.dropdown{
  display: flex;
  align-items: center;

}
.dropdown-caret{
  position: relative;
  height: 15px;
  width: 15px;
  top: 2px;
  left: 3px;
}
.blank-space{
  width: 300px;
}
.icon-container{
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.icon-container  img{
  width: 20px;
  height: 20px;
}
.button-container{
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button-container button{
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  border: transparent;
  outline: transparent;
  font-weight: 700;

}